n8n/workflows/forgot-password.json
{
  "id": "ForgotPass01Fnb",
  "name": "forgot-password",
  "active": true,
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "forgot-password",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "fnbwebhooksecr01",
          "name": "fnb-webhook-secret"
        }
      },
      "id": "c3b00000-0000-4000-8000-000000000001",
      "webhookId": "c3b00000-0000-4000-8000-0000000000a1"
    },
    {
      "name": "Resolve Reset Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const http = require('http');\nconst fs = require('fs');\n\nconst E = (typeof process !== 'undefined' && process.env) ? process.env : {};\nconst zOrigin  = E.NUXT_ZITADEL_INTERNAL_URL || 'http://zitadel:8080';\nconst zHost    = (E.NUXT_ZITADEL_ISSUER || 'http://localhost:8200').replace(/^https?:\\/\\//, '');\nconst authBase = E.NUXT_PUBLIC_AUTH_APP_URL || 'http://localhost:4000/auth';\n\nconst body = $('Webhook').first().json.body || {};\nconst email = (body.email || '').trim();\nif (!email) throw new Error('forgot-password: email is required');\n\nconst pat = fs.readFileSync('/zitadel-seed/admin.pat', 'utf8').trim();\nif (!pat) throw new Error('forgot-password: PAT file is empty');\n\nfunction parseOrigin(o) {\n  const n = String(o).replace(/^https?:\\/\\//, '');\n  const i = n.indexOf(':');\n  return i < 0 ? { host: n, port: '80' } : { host: n.slice(0, i), port: n.slice(i + 1) };\n}\nfunction httpReq(origin, path, method, headers, payload) {\n  const { host, port } = parseOrigin(origin);\n  return new Promise((resolve, reject) => {\n    const r = http.request({ hostname: host, port, path, method, headers }, (res) => {\n      let d = '';\n      res.on('data', (c) => (d += c));\n      res.on('end', () => { let j = null; try { j = d ? JSON.parse(d) : null; } catch { j = { raw: d }; } resolve({ status: res.statusCode, json: j }); });\n    });\n    r.on('error', reject);\n    if (payload) r.write(payload);\n    r.end();\n  });\n}\nfunction zitadel(method, path, obj) {\n  const payload = obj === undefined ? null : JSON.stringify(obj);\n  const headers = { host: zHost, authorization: 'Bearer ' + pat, 'content-type': 'application/json' };\n  if (payload) headers['content-length'] = Buffer.byteLength(payload);\n  return httpReq(zOrigin, path, method, headers, payload);\n}\n\n// 1. Search the ZITADEL user by email (user-id-addressed calls need no org header).\nconst search = await zitadel('POST', '/v2/users', { queries: [{ emailQuery: { emailAddress: email } }] });\nconst userId = search.json && search.json.result && search.json.result[0] && search.json.result[0].userId;\n\n// 2. NO USER -> silently no-op. Return [] so the Send Email node never runs: no email, no error,\n//    no account-enumeration signal (the auth-app route already told the browser \"if an account\n//    exists...\"). This is the one behavioral difference from invite-user's 409 branch.\nif (!userId) return [];\n\n// 3. Mint a single-use password-reset code (return-code mode).\nconst reset = await zitadel('POST', '/v2/users/' + encodeURIComponent(userId) + '/password_reset', { returnCode: {} });\nconst resetCode = reset.json && reset.json.verificationCode;\nif (!resetCode) throw new Error('forgot-password: password_reset failed (' + reset.status + ')');\n\n// 4. Build the set-password link -> the EXISTING /auth/set-password page (unchanged).\nconst setPasswordUrl = authBase + '/set-password?userId=' + encodeURIComponent(userId) + '&code=' + encodeURIComponent(resetCode);\n\n// 5. Output = the exact send-notification payload (set-password template, reused verbatim).\nreturn [{ json: { channel: 'email', templateKey: 'set-password', to: email, subject: 'Reset your fnb password', vars: { displayName: email, setPasswordUrl }, tenantId: null, profileId: null, userId } }];\n"
      },
      "id": "c3b00000-0000-4000-8000-000000000002"
    },
    {
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/send-notification",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "fnbwebhooksecr01",
          "name": "fnb-webhook-secret"
        }
      },
      "id": "c3b00000-0000-4000-8000-000000000003"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Resolve Reset Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Reset Link": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "0E8QFQyYGSyHHq0g"
  },
  "pinData": {}
}
