n8n/workflows/send-notification.json
{
  "id": "SendNotif01Fnb0",
  "name": "send-notification",
  "active": true,
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "parameters": {
        "httpMethod": "POST",
        "path": "send-notification",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "fnbwebhooksecr01",
          "name": "fnb-webhook-secret"
        }
      },
      "id": "b1a00000-0000-4000-8000-000000000001",
      "webhookId": "b1a00000-0000-4000-8000-0000000000a1"
    },
    {
      "name": "If Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [420, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Webhook').item.json.body.channel }}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b1a00000-0000-4000-8000-000000000002"
    },
    {
      "name": "Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 280],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const b=$('Webhook').first().json.body;const v=b.vars||{};const k=b.templateKey;const btn=(u,l)=>`<a href='${u}' style='display:inline-block;padding:12px 20px;background:#156f41;color:#ffffff;text-decoration:none;border-radius:6px;font-weight:600'>${l}</a>`;const wrap=(t,i,c,u)=>`<div style='font-family:sans-serif;max-width:480px;margin:0 auto;color:#1b2025'><h1 style='color:#156f41'>${t}</h1><p>${i}</p><p style='margin:24px 0'>${c}</p><p style='color:#888888;font-size:12px'>If the button does not work, paste this link into your browser:<br>${u||''}</p></div>`;let subject,html;if(k==='user-invitation'){const n=v.displayName||'there';subject=b.subject||'You have been invited to fnb';html=wrap('Welcome to fnb',`Hi ${n}, you have been invited to fnb. First, verify your email address to get started.`,btn(v.verifyUrl,'Verify your email'),v.verifyUrl);}else if(k==='set-password'){const n=v.displayName||'there';subject=b.subject||'Set your fnb password';html=wrap('Set your password',`Hi ${n}, your email is verified. Choose a password to finish setting up your account.`,btn(v.setPasswordUrl,'Set your password'),v.setPasswordUrl);}else{subject=b.subject||('[fnb] '+k);html=v.html||v.body||('<p>'+k+'</p>');}return [{json:{subject,html}}];"
      },
      "id": "b1a00000-0000-4000-8000-000000000003"
    },
    {
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [860, 280],
      "onError": "continueErrorOutput",
      "parameters": {
        "fromEmail": "no-reply@function-bucket.net",
        "toEmail": "={{ $('Webhook').item.json.body.to }}",
        "subject": "={{ $('Render').item.json.subject }}",
        "emailFormat": "html",
        "html": "={{ $('Render').item.json.html }}",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "fnbsmtpmailpit1",
          "name": "fnb-smtp"
        }
      },
      "id": "b1a00000-0000-4000-8000-000000000004"
    },
    {
      "name": "Record Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1080, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "select notify_fn.record_send($1::notify.notification_channel, $2::citext, $3::citext, $4, $5::jsonb, nullif($6,'')::uuid, nullif($7,'')::uuid, $8, $9, $10, $11::notify.notification_status, $12::jsonb) as id",
        "options": {
          "queryReplacement": "={{ [ $('Webhook').item.json.body.channel, $('Webhook').item.json.body.templateKey, $('Webhook').item.json.body.to, $('Render').item.json.subject, JSON.stringify($('Webhook').item.json.body.vars ?? {}), $('Webhook').item.json.body.tenantId ?? '', $('Webhook').item.json.body.profileId ?? '', 'mailpit', $json.messageId ?? '', $execution.id, 'sent', '{}' ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "fnbn8nworkerpg01",
          "name": "fnb-n8n-worker"
        }
      },
      "id": "b1a00000-0000-4000-8000-000000000005"
    },
    {
      "name": "Record Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1080, 380],
      "parameters": {
        "operation": "executeQuery",
        "query": "select notify_fn.record_send($1::notify.notification_channel, $2::citext, $3::citext, $4, $5::jsonb, nullif($6,'')::uuid, nullif($7,'')::uuid, $8, $9, $10, $11::notify.notification_status, $12::jsonb) as id",
        "options": {
          "queryReplacement": "={{ [ $('Webhook').item.json.body.channel, $('Webhook').item.json.body.templateKey, $('Webhook').item.json.body.to, $('Render').item.json.subject, JSON.stringify($('Webhook').item.json.body.vars ?? {}), $('Webhook').item.json.body.tenantId ?? '', $('Webhook').item.json.body.profileId ?? '', 'mailpit', '', $execution.id, 'failed', JSON.stringify({ message: $json.error?.message ?? 'send failed' }) ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "fnbn8nworkerpg01",
          "name": "fnb-n8n-worker"
        }
      },
      "id": "b1a00000-0000-4000-8000-000000000006"
    },
    {
      "name": "Record Sms Sink",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [640, 540],
      "parameters": {
        "operation": "executeQuery",
        "query": "select notify_fn.record_send($1::notify.notification_channel, $2::citext, $3::citext, $4, $5::jsonb, nullif($6,'')::uuid, nullif($7,'')::uuid, $8, $9, $10, $11::notify.notification_status, $12::jsonb) as id",
        "options": {
          "queryReplacement": "={{ [ $('Webhook').item.json.body.channel, $('Webhook').item.json.body.templateKey, $('Webhook').item.json.body.to, $('Webhook').item.json.body.subject ?? '', JSON.stringify($('Webhook').item.json.body.vars ?? {}), $('Webhook').item.json.body.tenantId ?? '', $('Webhook').item.json.body.profileId ?? '', 'log-sink', '', $execution.id, 'sent', '{}' ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "fnbn8nworkerpg01",
          "name": "fnb-n8n-worker"
        }
      },
      "id": "b1a00000-0000-4000-8000-000000000007"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "If Email", "type": "main", "index": 0 }]]
    },
    "If Email": {
      "main": [
        [{ "node": "Render", "type": "main", "index": 0 }],
        [{ "node": "Record Sms Sink", "type": "main", "index": 0 }]
      ]
    },
    "Render": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    },
    "Send Email": {
      "main": [
        [{ "node": "Record Sent", "type": "main", "index": 0 }],
        [{ "node": "Record Failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "0E8QFQyYGSyHHq0g"
  },
  "pinData": {}
}
