n8n/workflows/sync-breweries.json
{
  "id": "ELaSnnVT6rsu3C0A",
  "name": "sync-breweries",
  "active": true,
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-breweries",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "fnbwebhooksecr01",
          "name": "fnb-webhook-secret"
        }
      },
      "id": "a2e73ff3-d259-46f5-8851-396d49c222f9",
      "webhookId": "461a3380-9cd1-48dc-90b5-3e2ab05e0672"
    },
    {
      "name": "Check Busy",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        420,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select n8n_fn.running_count('sync-breweries'::citext)::int as busy",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "fnbn8nworkerpg01",
          "name": "fnb-n8n-worker"
        }
      },
      "id": "233fddaf-fcdd-48ab-ad50-db24f774dc27"
    },
    {
      "name": "If Busy",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.busy }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "2404a470-ba02-40d0-b33a-ce45924a74ad"
    },
    {
      "name": "Already Running",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        160
      ],
      "parameters": {},
      "id": "18fb1cf2-8e83-4716-bbf2-3b05db10edc9"
    },
    {
      "name": "Begin Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        860,
        440
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select n8n_fn.begin_run('sync-breweries'::citext, $1, $2::jsonb, nullif($3, '')::uuid) as run_id",
        "options": {
          "queryReplacement": "={{ [ $execution.id, JSON.stringify($('Webhook').item.json.body ?? {}), $('Webhook').item.json.body?.tenantId ?? '' ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "fnbn8nworkerpg01",
          "name": "fnb-n8n-worker"
        }
      },
      "id": "d61f5d38-b409-4419-9f82-5db917ff53a3"
    },
    {
      "name": "Get Meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        440
      ],
      "parameters": {
        "url": "https://api.openbrewerydb.org/v1/breweries/meta",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "5eda98e2-6a4e-4092-a153-1652638c6208"
    },
    {
      "name": "Build Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        440
      ],
      "parameters": {
        "jsCode": "const total = Number($json.total)\nconst pages = Math.ceil(total / 200)\nreturn Array.from({ length: pages }, (_, i) => ({ json: { page: i + 1, total, pages } }))"
      },
      "id": "87d28260-5a51-4940-b944-6f88bffcd85a"
    },
    {
      "name": "Loop Pages",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1520,
        440
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "129768de-86f6-4c75-8d85-7a84c7ac1be2"
    },
    {
      "name": "Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        560
      ],
      "parameters": {
        "url": "=https://api.openbrewerydb.org/v1/breweries?page={{ $json.page }}&per_page=200",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "id": "2c14058d-5afb-42cb-883c-2c7687219965"
    },
    {
      "name": "Package Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        560
      ],
      "parameters": {
        "jsCode": "const breweries = $input.all().map((i) => i.json).filter((b) => b && b.id)\nreturn [{ json: { page: $('Loop Pages').first().json.page, breweries } }]"
      },
      "id": "1f03784d-ed38-4823-9314-205916e9bc80"
    },
    {
      "name": "Upsert Page",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2180,
        560
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select to_jsonb(location_datasets_fn.upsert_breweries($1::jsonb)) as result",
        "options": {
          "queryReplacement": "={{ [ JSON.stringify($json.breweries) ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "fnbn8nworkerpg01",
          "name": "fnb-n8n-worker"
        }
      },
      "id": "a19970fd-da83-4146-9ccb-9d2043f4511a"
    },
    {
      "name": "Sum Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        300
      ],
      "parameters": {
        "jsCode": "const results = $input.all().map((i) => i.json)\nconst inserted = results.reduce((s, r) => s + (r.result?.inserted ?? 0), 0)\nconst updated = results.reduce((s, r) => s + (r.result?.updated ?? 0), 0)\nreturn [{ json: { total: $('Build Pages').first().json.total, pagesFetched: results.length, inserted, updated } }]"
      },
      "id": "d00818fe-bba1-4ef7-8d38-10668583a9e0"
    },
    {
      "name": "Complete Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1960,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "select (n8n_fn.complete_run($1::uuid, $2::jsonb)).id as run_id",
        "options": {
          "queryReplacement": "={{ [ $('Begin Run').first().json.run_id, JSON.stringify($json) ] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "fnbn8nworkerpg01",
          "name": "fnb-n8n-worker"
        }
      },
      "id": "9fde98fb-dd51-4c60-bc13-16f4d94dbba1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Busy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Busy": {
      "main": [
        [
          {
            "node": "If Busy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Busy": {
      "main": [
        [
          {
            "node": "Already Running",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Begin Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Begin Run": {
      "main": [
        [
          {
            "node": "Get Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meta": {
      "main": [
        [
          {
            "node": "Build Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pages": {
      "main": [
        [
          {
            "node": "Loop Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Pages": {
      "main": [
        [
          {
            "node": "Sum Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page": {
      "main": [
        [
          {
            "node": "Package Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Package Page": {
      "main": [
        [
          {
            "node": "Upsert Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Page": {
      "main": [
        [
          {
            "node": "Loop Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sum Results": {
      "main": [
        [
          {
            "node": "Complete Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "0E8QFQyYGSyHHq0g",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all"
  },
  "pinData": {}
}
